*{
	left: 0;
	padding: 0;
	margin: 0;
}
body{
	border: 2px solid #ed5402;	
}
div{
	font-size: 16px;
	color: black;
}
#post{
	background-color: #cccccc;
	margin: 1px 0 0 0;
	border-bottom: 2px solid #aaaaaa;
	width: 350px;
}
a{
	text-decoration: none;
}
a:focus{
	text-decoration: none;
	color: inherit;
}
input{
	position: relative;
	margin: 5px 5px 0px 0;
	font-size: 24px;
	width: 300px;
	border: none;
	border-bottom: 1px solid gray;
	float: right;
}
select{
	top: -13px;
	position: relative;
	margin: 5px 5px 0 0;
	font-size: 24px;
	width: 300px;
	border: none;
	border-bottom: 1px solid gray;
	float: right;
}
#subreddit{
	position: relative;
	float: right;
}
.font{
	font-size: 24px;
}
input:focus{
	outline-width: 0;
	box-shadow: none;
	text-decoration: none;
}
.container {
		margin: 5px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 35px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 0px 0 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-9px, -6px) ;
}
#menuBackground{
	background-color: blue;
	width: 350px;
	height: 43px;
}