*{
	left: 0;
	padding: 0;
	margin: 0;
}
body{
	background-color: #dddddd;		
	width: 100%;
}
div{
	font-size: 12px;
	color: black;
	width: 500px;
}
#post{
	background-color: #cccccc;
	margin: 1px 0 0 0;
	border-bottom: 2px solid #aaaaaa;
}
a{
	text-decoration: none;
}
a:focus{
	text-decoration: none;
	color: inherit;
}
input{
	position: relative;
	display: inline-block;
	width: 245px;
	border: none;
	border-bottom: 1px solid gray;
}
select{
	position: relative;
	float:right;
	width: 245px;
}
.font{
	font-size: 24px;
	font-family: Courier;
}
input:focus{
	outline-width: 0;
	box-shadow: none;
	text-decoration: none;
}
